

body{    
    main{
        width: 1440px;
        margin: auto;
    background-color: #e3e3e3;
    font-family: noto sans jp;
    header {
        padding-top: 40px;
        padding-left: 82px;
        .head{
            display: flex;
        .logo{
            div{
                .logo-img{
                    width: 200px;
                }
            }
        }
        .header-nav{
            .menu-list{
                margin-left: 310px;
                margin-right: 80px;
                display: flex;
                .menu{
                    margin-left:60px;
                    font-size: 20px;
                    a{
                        text-decoration: none;
                        color: #000000;
                    }
                }
                .menu-contact{
                    background-color: #6FC7D5;
                    border-radius: 50px;
                    padding: 4px 30px;
                    a{
                        color: #ffffff;
                    }
                }
            }
        }
    }
    }

    // <!--------------------- FV ----------------->
    .fv{
        padding-top: 72px;
        margin: 82px;
        height: 720px;
    background-image: url(../images/fv.png);
    background-repeat: no-repeat;
    background-size: 1085px;
    background-position: 120%;
    h1{
        margin-top: 144px;
        font-size: 64px;
        color: #000000;
            // font-family: "Hragino Kaku Gothic Antique", sans-serif;
            font-weight: bold;
            font-style: normal;
    }
    h2{
        font-size: 20px;
    }
}

    .message{
        margin-top: 200px;
        display: flex;
        .message-title{
            height: 94px;
            margin-left: 144px;
        h1{
            font-weight: bold;
            font-size: 64px;
            span{
                color: #6FC7D5;
            }
        }
        h2{
            margin-top: -15px;
            font-size: 20px;
            text-align: center;
        }
    }
        .message-text-box{
            margin-left: 80px;
            h3{
                font-size: 24px;
            }
            .message-text{
                margin-top: 40px;
            }
        }
    }

    .slide-message-box{
        margin-top: 200px;
        .slide-message{
            font-size: 64px;
        }
    }


    // <!--------------------- Service ----------------->
    .service{
        margin-top: 200px;
        background-color: #ffffff;
        padding-bottom: 63px;
        padding-top: 80px;
        border-radius: 0px 200px 0px 0px / 0px 200px 0px 0px;
        .service-title{
            display: flex;
            margin-left: 81px;
            margin-bottom: 63px;
            h1{
                font-weight: bold;
                font-size: 64px;
                span{
                    color: #6FC7D5;
                }
            }
            h2{
                font-size: 20px;
                margin-left: 20px;
                padding-top: 40px;
            }
        }
        .service-main-box{
            border-top: rgba(26, 11, 8, 0.5) solid 1px;
            margin-left: 81px;
            width: 1280px;
            .service-box{
                display: flex;
                .service-box-nu-na{
                    margin-left: 123px;
                    border-right: rgba(26, 11, 8, 0.5) solid 1px;
                    .service-number{
                        font-family: brush script MT;
                        font-size: 64px;
                        padding-top: 40px;
                        padding-right: 38px;
                    }
                    .service-name{
                        writing-mode: vertical-rl;
                        font-size: 24px;
                        font-weight: bold;
                        line-height: 90px;
                        letter-spacing: 7px;
                    }
                }
                .service-content-box{
                    display: block;

                .service-content{
                    display: flex;
                    margin-left: 40px;
                    .service-ph{
                        width: 300px;
                    }
                    .service-card,.service-ph{
                        margin-top: 40px;
                    }
                    .service-ph-sm{
                        width: 150px;
                    }
                    .service-text{
                        width: 692px;
                        margin-top: 88px;
                        margin-left: 40px;
                        font-size: 20px;
                    }
                }
            }
            }

        .service-list{
            width: 870px;
            height: 120px;
            margin-top: 40px;
            margin-left: 40px;

            .service-list-btn{
                margin-top: 11px;
                margin-right: 30px;
                padding: 10px 23px;
                border-radius: 50px;
                background-color: #e3e3e3;
                border: 1px solid transparent;
                .dot {
                    height: 10px;
                    width: 10px;
                    background-color: #ffffff; /* デフォルトの灰色ドット */
                    border-radius: 50%;
                    display: inline-block;
                    margin-left: 20px;
                }
                .dot.active {
                    background-color: #6FC7D5; /* アクティブ状態の緑色ドット */
                }
            }
        }
        .service-list-content{
            background-color: #efefef;
            padding: 40px;
            border-radius: 20px;
            margin-left: 40px;
            margin-bottom: 40px;
            .service-list-content-list{
                display: flex;
                .service-list-name{
                    font-size: 20px;
                }
                .service-list-category{
                    margin-left: 20px;
                    background-color: #E6E5EF;
                    padding: 2px 7px;
                    font-size: 12px;
                }
            }
            .service-list-explanation{
                margin-top: 20px;
            }
            .service-list-explanation-box{
                display: flex;
                font-size: 12px;
                margin-top: 40px;
                margin-right: 10px;
                .hashtag{
                    margin-right: 10px;
                }
            }
        }
    }
}
// <!-- --------------contact------------- -->
.contact{
    height: 250px;
    background-color: #e3e3e3;
    display: flex;
    background-image: url(/library/images/contact-back.png);
    background-size: 1440px 250px;
    background-repeat: no-repeat;
    .contact-title{
        padding-top: 45px;
    margin-left: 138px;
    .contact-title-box{ 
        display: flex;
        h1{
            font-weight: bold;
            font-size: 48px;
            span{
                color: #6FC7D5;
            }
        }
    h2{
        padding-top: 35px;
        font-size: 20px;
        margin-left: 20px;
    }
    }
    p{
        margin-top: 40px;
        margin-right: 40px;
        font-size: 20px;
        font-weight: bold;
    }
}

.btn-box{
    padding: 45px 0 45px;
    .btn{
        padding: 5px 120px 5px 31px;
        border-radius: 50px;
    }
    .btn-line{
        background-color: #45AC51;
        display: flex; 
        align-items: center;
        box-shadow: 0px 5px 5px rgb(62,58,58,0.4) ;
        .icon{
            width: 67px;
            margin-right: 30px;
        }
        a{
            font-size: 20px;
            color: #ffffff;
            text-decoration: none;
            font-weight: bold;
            
        }
    }
    .btn-mail{
        margin-top: 40px;
        background-color: #6FC7D5;
        display: flex; 
        align-items: center;
        box-shadow: 0px 5px 5px rgb(62,58,58,0.4) ;
        .icon{
            width: 67px;
            margin-right: 30px;
        }
        a{
            font-size: 20px;
            color: #ffffff;
            text-decoration: none;
            font-weight: bold;
            
        }
    }
}
}

// <!-- -----------こんな方におすすめ---------------- -->
.recommendation-section{
    background-color: #e3e3e3;
.recommendation-box{
    h2{
        width: 358px;
        padding-top: 150px;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        border-bottom: #6FC7D5 solid 3px;
        margin: auto;
    }
    .recommendation-main-box {
        display: flex;
        margin: 40px 0 109px 146px;
    img{
        width: 370px;
        margin-right: 80px;
    }
    .recommendation-text-list{
        width: 700px;
        height: 250px;
        border:  rgba(62, 58, 58, 0.5) solid 1px;
        border-radius: 20px;
        background-color: #ffffff;
        text-align: left;
        margin-top: 50px;
        .recommendation-text{
            img{
                width: 15px;
                margin-right: 20px;
            }
            width: 473px;
            font-size: 20px;
            margin-left: 110px;
            margin-bottom: 17px;
        }
        .recommendation-text:nth-child(1){
            margin-top: 56px;
        }
    }
}
}
}
// <!-- -----------プライス---------------- -->
.split{
    background-color: #ffffff;
    display: table;
    width: 100%;    
    position: relative;/*position stickyの基点にするため relativeをかける*/
	flex-wrap: wrap;/*ボックスの折り返し可*/
.split-item{
    display: table-cell;
    width: 440px;
}
.split-left{
    background-color: #e3e3e3;

    
    
    position: sticky;
    .split-left-box {
        height: 880px;
        padding-left: 80px;
            position: sticky;
            top: 0; /* ビューポートの上端から0pxの位置に固定 */
            background-image: url(/library/images/split-back.png);

            background-repeat: no-repeat;
            background-size: 440px ;
        .split-left-inner{
            padding-top: 80px;
            h1{
                font-weight: bold;
                font-size: 64px;
                span{
                    color: #6FC7D5;
                }
            }
    h2{
        margin-top: 60px;
        margin-left: 20px;
    }
        }
    }
    .hide-small-bg{
        background-image: url(/library/images/split-back-sm.png);  
        display: none; 
    }

}


    .split-left-price-inner-box{
        margin-top: 308px;
        .split-left-price{
            margin-top: 40px;
            width: 253px;
            h3{
                margin-bottom: 20px;
            }
            a{
            display: block;
            margin-bottom: 10px;
            text-decoration: none;
            color: #000;
        }
        }
    }
}
.split-left-inner{
    display: flex;
}
.split-right{
    padding: 0;
.split-right-inner{
    height: 3000px;
    margin-left: 140px;
    // p{
    //     width: 567px;
    // }
    .price-section{
        width: 720px;
        padding-right: 138px;
        h2{
            margin-top: 150px;
            font-size: 24px;
            font-weight: bold;
            img{
                height: 40px;
            }
        }
        .price-genre{
            text-align: center;
            margin: auto;
            margin-top: 40px;
            padding-bottom: 20px;
            position: relative;
        }
        .price-genre:after {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 50px; 
            height: 3px;
            background-color: #000; 
            bottom: 10px; 
        }
        .price-list .price-menu {
            text-align: center;
            display: flex;
            border-top: rgba(62, 58, 58, 0.5) solid 1px;
            padding: 11px;
            background-color: #e3e3e3;
        }
            .price-menu-name{
                text-align: center;
                display: flex;
                border-top:  rgba(62, 58, 58, 0.5) solid 1px;
                padding: 22px;
            }
            .price-menu-name-lp{
                text-align: center;
                display: flex;
                border-top:  rgba(62, 58, 58, 0.5) solid 1px;
                border-bottom:  rgba(62, 58, 58, 0.5) solid 1px;
                padding: 22px;
            }
            .price-menu:last-of-type{
                border-bottom:  rgba(62, 58, 58, 0.5) solid 1px;
                padding-bottom: 22px;
            }
            .price-menu-last {
                border-bottom: rgba(62, 58, 58, 0.5) solid 1px;
                padding-bottom: 22px;
            }

        }
        .range-section{
            background-image: url(/library/images/box-02.png);
            background-size: 720px 100px;
            background-repeat: no-repeat;
            margin-top: 10px;
        h3{
            text-align: center;
            padding-top: 22px;
        }
    .range{
        width: 567px;
        font-size: 12px;
        padding-top: 22px;
        padding-bottom: 20px;
        margin: auto;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
    } 
}
    }
}
}

.flow{
    background-color: #ffffff;
    padding-left: 80px;
    padding-bottom: 58px;
    .flow-title{
        display: flex;
        padding-top: 100px;
        h1{
            font-weight: bold;
            font-size: 64px;
            span{
                color: #6FC7D5;
            }
        }
        h2{
            font-size: 20px;
            margin-left: 20px;
            padding-top: 50px;
        }
    }
    .flow-box{
        margin-top: 53px;
        .flow-list{
            width: 300px;
        }
        .flow-list:last-child {
        height: 319px;
        }
        .flow-list-sm{
            display: none;
        }

    }
}

.faq{
    padding: 80px;
    padding-left: 0;
    margin-top: 80px;
    background-color: #ffffff;
    border-radius: 0px 200px 0px 0px / 0px 200px 0px 0px;
    .faq-title{
        display: flex;
        margin-left: 80px;
        border-bottom: solid 1px #e3e3e3;
        padding-bottom: 10px;
        width: 1280px;
        h1{
            font-weight: bold;
            font-size: 64px;
            span{
                color: #6FC7D5;
            }
        }
        h2{
            font-size: 20px;
            margin-left: 20px;
            padding-top: 50px;
        }
    }
    .faq-box{
        margin-left: 80px;

        .accordion {
            margin: 2em 0;
            border-bottom: solid 1px #e3e3e3;
            width: 1280px;
            padding-bottom: 10px;
        }
        .accordion__summary {
            width: 1199px;
            display: block;
            font-size: 20px;
            position: relative;
            list-style: none; /* 矢印を消す */
            cursor: pointer;
            padding: 10px 38px 10px 10px;
        }
        .accordion__summary::-webkit-details-marker {
            display: none;
        }
        .accordion__summary::after {
            content: "+";
            font-size: 1.4em; /* 記号のサイズ */
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
        .accordion[open] .accordion__summary::after {
            content: "-";
        }
        .accordion__detail {
            width: 952px;
            padding: 40px 12px;
            margin: 10px 0;
            background-color: #e3e3e3;
            border-radius: 20px;
        }
        .accordion__text {
            margin: 0;
            font-size: 16px;
        }
    }
}

.form{
    padding: 80px;
    .form-box{
        display: flex;
        .contact-button-container{
            position: fixed; /* ボタンを固定位置に設置 */
            top: 50%; /* 上端から画面の半分の位置に */
            right: 0; /* 右端から0pxの位置に */
            transform: translateY(20%); /* ボタンの中心を画面の中央に */
            z-index: 1000; /* 他の要素の上に表示 */

        .contact-button {
            img{
                width: 50px;
                margin-bottom: 10px;
            }
            width: 50px;
            height: 309px;
            padding: 0 17px;
            display: block; /* ブロック要素として表示 */
            background-color: #45AC51; /* ボタンの背景色 */
            color: white; /* テキストの色 */
            text-align: center; /* テキストを中央揃え */
            font-size: 24px; /* フォントサイズ */
            font-weight: bold; /* フォントの太さ */
            writing-mode: vertical-rl; /* テキストを縦書き */
            text-orientation: upright; /* 文字を正しい方向に */
            border-radius: 20px 0 0 20px; /* ボタンの上端に角丸を設定 */
            text-decoration: none;
            letter-spacing: 10px;
            }
        .contact-button:hover {
            background-color: #2c7; /* ホバー時の背景色を変更 */
            text-decoration: none; /* ホバー時の下線を消す */
        }
        }
        .form-box-title{
            .form-title{
                display: flex;
                
                h1{
                    font-weight: bold;
                    font-size: 64px;
                    span{
                        color: #6FC7D5;
                    }
                }
                h2{
                    font-size: 20px;
                    margin-left: 20px;
                    padding-top: 50px;
                }
                p{
                    margin-top: 73px;
                }
                }
            }
            
        }
    }

    form{
        width: 800px;
        margin: auto;
        margin-top: 111px;
        div{
            width: 800px;
            .label_section{
                margin-top: 33px;
                display: block;
                input[type="radio"] {
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    border: 2px solid #000;
                    display: inline-block;
                    margin-right: 1px;
                    vertical-align: middle;
                    // チェックされた時のスタイル
                    &:checked {
                    background-color: #000;
                    }
                }
                .label_text{
                    text-align: left;
                    font-size: 20px;
                }
                .input_area{
                    margin:11px 0 0 auto;
                    width: 800px;
                    height: 50px;
                    background-color: #ffffff;
                    border: solid 1px #3e3a3a;
                    border-radius: 8px;
                }
                .input_area_remarks{
                    height: 200px;
                }
            }
        }
        .policy{
            width: 800px;
            margin-top: 40px;
            text-align: center;
            .attention{
                a{
                    color: #000000;
                    font-size: 20px;
                    font-weight: bold;
                }
            }
                .policy{
                    padding-top: 20px;
                    letter-spacing: 3px;
                }
                input{
                    margin-top: 20px;

                }
                p{
                    input{
                        margin-top: 60px;
                        width: 200px;
                        height: 60px;
                        border-radius: 10px;
                        background-color: #000000;
                        color: #ffffff;
                    }

                }
        }
    }
}


footer{
    background-color: #ffffff;
    text-align: center;
    .logo-img{
        width: 200px;
        padding-top: 48px;
    }
    .footer-nav{
        width: 840px;
        padding-top: 40px;
        margin: auto;
        .menu-list{
            display: flex;
            text-decoration: none;
            justify-content: space-around;
            .menu{
                a {
                color: #000000;
                text-decoration: none;
            }
            }
        }
    }
    .footer-information{
        margin-top: 40px;
        padding-bottom: 35px;
        p{
            margin-bottom: 5px;
        }
    }
}
.small-section{
    background-color: #efefef;
    padding: 12px 0 12px 0;
    text-align: center;
    height: 266px;
}






@media screen and (max-width: 768px) {
    body{
        main{
            width: 768px;
            // ----------------ハンバーガー----------------//
    .btn_trigger {
        display: block !important;
        width: 40px;
        height: 45px;
        position: relative;
        z-index: 3;
}
    .bar {
        width: 35px;
        height: 1px;
        background-color: #000;
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
}

    .bar_top {
        top: 10px;
    }

    .bar_mid {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .bar_bottom {
        bottom: 10px;
    }

      // メニュー見た目↑

    .btn_trigger.close .bar_top {
        transform: translate(-50%, 11px) rotate(45deg);
        transition: transform 0.3s;
    }

    .btn_trigger.close .bar_mid {
        opacity: 0;
        transition: opacity 0.3s;
    }

    .btn_trigger.close .bar_bottom {
        transform: translate(-50%, -13px) rotate(-45deg);
        transition: transform 0.3s;
    }

    .header-nav {
        display: none;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        /*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
    }

    .header-nav {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.96);
        opacity: 1;
        z-index: 2;
    }

    .menu-list.flex-rc {
        display: block;
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 100%;
        padding-top: 15%;
        margin-left: 0;
    }

    .header-nav .menu-list {
        display: block !important;
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(-50%, -50%);
        text-align: center;
        margin-left: 350px !important;
    }

    .header-nav .menu {
        margin: 0 0 80px 0 !important;
        font-size: 34px !important;
        font-weight: bold;
    }

    .head{
        width: 650px;
        display: flex;
        justify-content: space-between;
    }
    .menu {
        margin-right: 0;
    }

    .fv {
        .catch {
            width: 600px;
        }
    }

    .fv{
        background-size: 700px;
        margin: 0 0 0 20px;
        height: 500px;
        h1{
            margin-top: 100px;
        }
    }

    .message{
        margin-top: 50px;
        .message-title{
            margin-left: 30px;
            h1{
                font-size: 50px;
            }
        }
        .message-text-box{
            margin-left: 40px;
            width: 400px;
            p{
                margin-top: 20px;
                br{
                    display: none;
                }
            }
        }
    }

    .service{
        .service-title{
            h1{
                font-size: 50px;
            }
        }
        .service-main-box{
            margin-left: 40px;
            width: 700px;
            height: 650px;
            .service-box{
                .service-box-nu-na{
                    margin-left: 50px;
                    height: 650px;
                    p{
                        font-size: 50px;
                    }
                }
                .service-content-box{
                    width: 350px;
                    .service-content{
                    display: block;
                    .service-ph{
                        width: 300px;
                        margin-left: 50px;
                    }
                    .service-card{
                        width: 300px;
                        margin: 40px 0 20px 70px;
                    }
                    .service-ph-sm{
                        width: 200px;
                        margin: 40px 0 20px 100px;
                    }
                    .service-text{
                        margin-top: 20px;
                        width: 350px;
                
                        br{
                            display: none;
                        }
                    }
                    }
                    .service-list{
                        width: 470px;
                        margin-top: 20px;
                        display: flex;
                        flex-wrap: wrap;
                        .service-list-btn{
                            margin-bottom: 10px;
                            width: 200px;
                        }
                    }
                    .service-list-gr{
                        height: 62px;
                    }
                }
            }
            .service-box-gr{
                height: 800px;
            }
        }
    }

    // <!-- -----------contact---------------- -->
    .contact{
        display: block;
        height: 400px;
        .contact-title{
            p{
                display: none;
            }
        }
        .btn-box{
            margin: auto;
            width: 400px;
            padding-top: 25px;
            .btn{
                padding-right: 60px;
                .icon{
                    width: 40px;
                }
                a{
                    font-size: 16px;
                }
            }
            .btn-mail{
                margin-top: 20px;
            }
        }
    }

    // <!-- -----------こんな方におすすめ---------------- -->
    .recommendation-section{
        .recommendation-box{
            h2{
                padding-top: 40px;
            }
            .recommendation-main-box{
                display: block;
                margin: 40px 0 109px 40px;
                text-align: center;
                img{
                    margin: auto;
                    text-align: center;
                    margin-right: 0;
                }
            }
        }
    }

    .split{
        .split-item{
            display: block;
            width: 768px;
        }
        .split-left{
            .split-left-box{
                background-size: 768px;
                height: 500px;
                .split-left-inner{
                    padding-top: 140px;
                }
                .split-left-price-inner-box{
                    margin-top: 50px;
                    display: flex;
                }
            }
        }
        .split-right{
            .split-right-inner{
                margin-left: 40px;
                height: auto;
                p{
                    
                    margin: 40px auto;
                }
                .price-section{
                    width: 650px;
                    padding-right: 0;
                    h2{
                        margin-top: 50px;
                    }
                }
            }
        }
    }

    .faq{
        .faq-title{
            width: 700px;
            margin-left: 40px;
        }
        .faq-box{
            margin-left: 40px;
            .accordion{
                width: 650px;
                .accordion__detail{
                    width: 650px;
                }
            }
            .accordion__summary{
                width: 570px;
            }
        }
    }

    .form{
        padding-left: 40px;
        .form-box{
            .contact-button-container{
                .contact-button{
                    font-size: 20px;
                    padding: 0 10px;
                    height: 250px;
                    img{
                        width: 35px;
                    }
                }
            }
        }
        form{
            width: 650px;
            div{
                width: 650px;
                .input_area{
                    width: 650px;
                }
            }
        }
    }
    }

    footer{
        .footer-nav{
            width: 700px;
        }
    }
    }
}

@media screen and (max-width: 425px) {
body{
    main{
        width: 425px;
        margin: auto;
        .head{
            width: 350px;
        }
        header{
            padding-left: 40px;
        }
        .fv{
            background-size: 380px;
            height: 270px;
            h1{
                font-size: 40px;
                margin-top: 50px;
            }
        }

        .message{
            display: block;
            .message-title{
                h1{
                    font-size: 40px;
                }
                h2{
                    font-size: 20px;
                    width: 190px;
                }
            }
            .message-text-box{
                width: 390px;
                margin-left: 20px;
            }
        }

    .service{
    .service-title{
        margin-left: 30px;
        h1{
            font-size: 40px;
        }
    }
    .service-main-box{
        width: 370px;
        height: 1020px;
        .service-box{
            display: block;
            .service-box-nu-na{
                border-right: none;
                height: 200px;
            margin-left: 0;
            .service-name{
                writing-mode: unset;
            }
            }
            .service-content-box{
                .service-content{
                margin-left: 0;
                    .service-ph{
                    margin-left: 20px;
                }
                    .service-text{
                    margin-left: 0;
                }
                .service-card{
                    margin-left: 30px;
                }
                .service-ph-sm{
                    margin-left: 60px;
                }
                }
                .service-list{
                    text-align: center;
                    margin-left: 0;
                    display: block;
                    width: 370px;
                    .service-list-btn{
                        width: 200px;
                    }
                }
            }
        }
    }
}

.contact{
    height: 350px;
    .contact-title{
        margin-left: 0;
        text-align: center;
        .contact-title-box{
            display: block;
            h2{
                margin-left: 0;
                padding-top: 10px;
            }
        }
    }
}

.recommendation-section{
    .recommendation-box{
        h2{
            padding-top: 50px;
        }
        .recommendation-main-box{
            margin-left: 20px;
            img{
                width: 300px;
            }
            .recommendation-text-list{
                width: 380px;
                height: 150px;
                .recommendation-text{
                    width: 380px;
                    margin-left: 20px;
                    font-size: 14px;
                }
                .recommendation-text:nth-child(1){
                    margin-top: 26px;
                }
            }
        }
    }
}


.split-right{
    .split-right-inner{
        .range-section{
            background-size: 400px;
            background-position: bottom;
            .range{
                flex-wrap: wrap;
                width: 250px;
            }
        }
    }
}
.split{
    .split-item{
        width: 425px;
        .split-right-inner{
            margin-left: 10px;
            .price-section{
                width: 400px;
                padding-right: 0;
            }
        }
    }
    .split-left{
        .split-left-box{
            height: 600px;
        }
        .split-left-box{
            .split-left-price-inner-box{
                display: block;
                .split-left-price{
                    margin-top: 20px;
                }
            }
        }
    }
}

.flow{
    width: 410px;
    padding-left: 20px;
    .flow-box{
        .flow-list{
            display: none;
        }
        .flow-list-sm{
            display: block;
            width: 380px;
        }
    }

}
.faq{
    .faq-title{
        margin-left: 20px;
        width: 400px;
    }
    .faq-box{
        margin-left: 20px;
        .accordion{
            width: 400px;
        }
        .accordion__summary{
            width: 300px;
        }
    }
}

.form{
    .form-box{
        .form-box-title{
            .form-title{
                display: block;
                h2{
                    padding-top: 0;
                }
            }
            p{
                margin-top: 30px;
            }
        }

    }
    form{
        width: 400px;
        div{  
            width: 370px;
            .input_area{
                width: 370px;
            }
        }
    }
}

}
footer{
    .footer-nav{
        width: 425px;
        .menu-list{
            display: block;
            .menu{
                margin-top: 30px;
            }
        }
    }
}
}
}